.product-cartt {
  color: black;
  font-size: 14px;
  width: 220px;
  background-color: #fff;
  padding: 10px;
  transition: all 1s;
}
.product {
  margin-top: -30px;
}
.product__title {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 24px;
  color: #393939;
}
.product-cart {
  background-color: #fff;
  width: 220px !important;
  height: 356px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease-in;
}
.good__price {
  position: absolute;
  left: 20px;
  top: 10px;
  background-color: rgb(51, 51, 51);
  color: rgb(254, 194, 15);
  border-radius: 4px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 21px;
}
.product-cart:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 4px #00000081;
  z-index: 45;
}
.product-cart h3 {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 24px;
  padding: 0 10px;
}
.cart__title {
  min-height: 38px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: rgb(59, 59, 59);
  padding: 0 10px;
}
.cart__img {
  width: 206px !important;
  height: 180px;
  object-fit: contain;
  padding: 10px;
}
.cart__blok {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.cart__blok button {
  background: #fbc100;
  border: 2px solid #fbc100;
  padding: 7px 12px;
  height: 38px;
  border-radius: 6px;
  padding: 7px 12px;
  display: inline-flex;
  align-items: center;
  height: 36px;
  max-width: 130px;
  cursor: pointer;
}
.cart__blok p {
  cursor: pointer;
}
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  gap: 30px;
}
.product__img {
  width: 250px;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(242, 242, 242, 0.662);
  color: #1d1d1d;
  border-radius: 50%;
  overflow: hidden;
  font-size: 14px;
  width: 30px;
  height: 30px;
  font-weight: 900;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: none;
}
.swiper-button-next:after {
  font-size: 16px;
}
.swiper-button-prev:after {
  font-size: 16px !important;
}
