body {
  background: #f7f7f7;
}
.header {
  width: 100%;
  background-color: #333333;
}
.header-top {
  max-width: 1580px;
  height: 60px;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  color: #fff;
  align-items: center;
  margin: 0 auto;
}
.header-top .header-top__list {
  display: flex;
  font-size: 13px;
  gap: 20px;
  align-items: center;
}
.header-top__list .list__item {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  display: block;
  padding: 8px 0;
  margin: 0 6px;
  font-family: Roboto, sans-serif;
}
.header-top__list .list__item span {
  font-size: 18px;
  font-weight: 700;
  margin-left: 6px;
}
.header-top__list .list__item:hover {
  cursor: pointer;
}
.header-top__list select {
  min-width: 55px;
  height: 20px;
  background-color: #333333;
  color: #fff;
  border-radius: 10px;
}

/*    */
.header-wrapper {
  width: 100%;
  background: #f7f7f7;
}
.header-search {
  background: #f7f7f7;
  display: flex;
  /* justify-content: space-between; */
  padding: 10px 50px;
  /* background-color: #e5e7eb; */
  align-items: center;
  margin-top: 14px;
  max-width: 1580px;
  margin: 0 auto;
}
.header-search img {
  max-width: 230px;
  margin-right: 40px;
}
.search__input {
  width: 640px;
  background: #fff;
  border: 2px solid #fbc100;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: #fbc100;
  height: 44px;
  display: flex;
}
.search__input select {
  width: 29%;
  height: 100%;
  background: #f7f7f7;
  border-radius: 8px;
  border-color: #f7f7f7;
  height: 100%;
  display: flex;
  align-items: center;

  padding: 9px 12px 9px 16px;
}
.search__input input {
  background-color: #fff;
  width: 70%;
  height: 100%;
  border: none;
  padding: 0 10px 0 5px;
  margin-left: -6px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.search__input button {
  background: none;
  border: none;
  margin: 0 auto;
}
.search__input button svg {
  width: 34px;
}

/*    */

.search__links {
  display: flex;
  gap: 35px;
  justify-content: center;
  margin-left: 30px;
  text-align: center;
  font-weight: bold;
}
.search__links svg {
  font-size: 1.5em;
}
.links__item {
  cursor: pointer;
}
/*    */

.header-katalog--wrapper {
  width: 100%;
  background: #f7f7f7;
  text-align: center;
}
.header-katalog {
  display: flex;
  padding: 0px 50px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background: #f7f7f7;
  margin: 0 auto;
  /* position: fixed; */
  z-index: 4;
  transition: all top 1s;
}
.header-katalog.fixed {
  position: fixed;
  top: 0;
  transition: top 1s;
  background-color: #fff;
  border-bottom: 1px solid #00000032;
  z-index: 44;
  width: 100%;
  margin: 0 auto;
}
.header-katalog .katalog-btn {
  padding: 10px 16px;
  background: #fbc100;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  height: 44px;
  width: 125px;
  font-weight: 700;
  color: #000;
}

.header-katalog .katalog-btn span {
  padding-right: 14px;
}
.header-katalog .katalog-week {
  background-color: #000;
  border-radius: 8px;
  margin: 0 20px 0 0;
  color: #fbc100;
  text-transform: uppercase;
  transition: 0.2s;
  font-weight: 700;
  height: 28px;
  width: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 5px;
}
.appbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: none !important;
}
.MuiBox-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 10px !important;
  /* gap: 30px; */
}
.MuiBox-root label {
  margin-left: 20px;
  position: relative;
  top: 10px;
  z-index: 2;
  color: #898989;
  max-width: 60px;
  background-color: #fff;
  font-size: 14px;
}
.MuiBox-root label span {
  color: #fbc100;
  font-size: 16px;
  position: absolute;
  top: 3px;
  right: 5px;
  padding-left: 5px;
}
.MuiBox-root .login__phone {
  width: 90%;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  position: relative;
  padding: 0 17px;
  width: 100%;
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  box-shadow: 0 0 0 1px #d5d8df;
  height: 48px;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  box-sizing: border-box;
}
.MuiBox-root input[type="text"]:focus {
  border: 3px solid #fbc100;
}
.MuiBox-root .login__phone:active {
  border: #d5d8df;
}

.MuiBox-root .login__button {
  background: #fbc100;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.4px;
  color: #333;
  padding: 11px 10px;
  margin-top: 30px;
  border: #fbc100;
  cursor: pointer;
  font-weight: 700;
}
.MuiBox-root p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #336fee;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #000 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 500 !important;
}
.css-17c8xr6-MuiButtonBase-root-MuiFab-root,
.css-1u8qcek-MuiButtonBase-root-MuiFab-root {
  display: none !important;
}
.header-katalog .katalog-week span {
  font-size: 1.2em;
}

.katalog-list {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-right: 30px;
}
.katalog-list .list__link {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: 500;
  cursor: pointer;
}

/* Modal */

.katalog__modal {
  width: 100%;
  height: 531px;
  background-color: #fff;
  margin-top: 210px;
  transition: 0.5s;
}

.modal-wrapper {
  width: 96% !important;
  height: 100% !important;
  display: grid;
  grid-template-columns: 30% 60%;
  transition: 0.5s;
}

.header-login {
  width: 100vw;
  height: 100vh;
  background-color: #00000086;
  z-index: 6;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  margin-top: -60px;
}
.header-login .login__cart {
  width: 480px;
  min-height: 320px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 3px 7px #0000007f;
  z-index: 9999999;
}
.css-heg063-MuiTabs-flexContaine,
.css-lx4kgr {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.x {
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  position: absolute;
  right: 0;
}
.basket {
  width: 100vw;
  height: 100vh;
  background-color: #00000086;
  z-index: 45;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  margin-top: -60px;
}

.basket .fixed {
  position: fixed;
  top: 0;
  transition: top 1s;
  background-color: #fff;
  border-bottom: 1px solid #00000068;
  z-index: 5454;
}

.basket-warpper {
  width: 800px;
  height: 400px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.basket-warpper .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin-top: 20px;
  color: rgb(41, 40, 40);
}
.title h3 {
  border-radius: 50%;
  text-align: center;
  border: 1px solid rgb(224, 224, 224);
  padding: 4px 6px;
  cursor: pointer;
}
.basket__carts {
  max-width: 174px;
  height: 300px;
  text-align: center;
}
.basket__carts img {
  margin-top: 60px;
}
.basket__carts p {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}
.basket-warpper button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.4px;
  color: #333;
  border: 2px solid #fbc100;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 32px;
  padding: 0 20px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;

  background-color: #fff;
}

.header-media,
.header-search-media {
  display: none;
}

@media screen and (max-width: 1280px) {
  .header-top .header-top__list {
    gap: 10px;
  }
  .header-top__list .list__item {
    font-size: 13px;
  }
  .header-search,
  .header-katalog {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1080px) {
  .header-top,
  .header-top__list {
    display: none;
  }
  .media__list {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #fff;
    align-items: center;
  }
  .header-media {
    display: block;
  }
  .header-search-media {
    display: block;
  }
  .header-search {
    display: none;
  }
  .search__input {
    width: 96%;
    margin: 0 auto;
  }
  .header-katalog {
    display: none;
  }
}
